@import url(https://fonts.googleapis.com/css?family=Jost:regular,600);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Jost, sans-serif;
  font-size: 18px;
  color: var(--color-inverse);
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

button {
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}
